In [1]:
import pandas as pd
import os

In [2]:
def process_csv(path = os.getcwd()):
    df_list=[]
    file_list = os.listdir(path)
    file_list = [file for file in file_list if ('.csv' in file)]
    
    for file in file_list:
        print(file)
        
        df = pd.read_csv(file, encoding='cp1252')
        df = df.rename(columns={'Intermediate ': 'Intermediate'})
        df['Topic'] = file[:-4]
        df['Elementary'] = df['Elementary'].str.replace('\n', ' ')
        df['Intermediate'] = df['Intermediate'].str.replace('\n', ' ')
        df['Advanced'] = df['Advanced'].str.replace('\n', ' ')
        df_list.append(df[['Topic', 'Elementary', 'Intermediate', 'Advanced']])
    
    data = pd.concat(df_list)
    return data

In [3]:
def process_txt():
    path = '/Users/Jialin/Downloads/OneStopEnglishCorpus-master/Texts-SeparatedByReadingLevel/'
    file_cat = ['Ele-Txt/', 'Adv-Txt/','Int-Txt/']
    df_list=[]
    
    for cat in file_cat:
        file_list = os.listdir(path + cat)
        file_list = [file for file in file_list if ('.txt' in file)]

        for file in file_list:
            #print(file)
            cate = file[-7:-4]
            df = pd.read_table(path + cat + file, sep='\n',header=None,names=['text'])
            df['cat'] = cate
            if ('WNL' in file[:-8]):
                df['topic'] = file[4:-8]
            else:
                df['topic'] = file[:-8]
            df_list.append(df)
    
    data = pd.concat(df_list)
    return data

In [24]:
data = process_txt()

In [19]:
data.topic[0]

0        SeaWorld
0        Exercise
0    On the trail
0          Malala
0       Novel way
         ...
0       Meteorite
0         Loterry
0    India's rich
0    Love hormone
0      Can the US
Name: topic, Length: 567, dtype: object

In [20]:
data.head(20)

                                                 text  cat     topic
0   SeaWorld’s profits fell by 84% and customers a...  ele  SeaWorld
1   The company teaches dolphins and killer whales...  ele  SeaWorld
2   It says fewer people are going to its parks an...  ele  SeaWorld
3   SeaWorld has been in the news since the 2013 d...  ele  SeaWorld
4   Animal rights organizations say that orcas kep...  ele  SeaWorld
5   SeaWorld has reduced ticket prices and spent $...  ele  SeaWorld
6   “We realize we have much work to do,” Manby sa...  ele  SeaWorld
7   “We will continue to fight with the facts beca...  ele  SeaWorld
8   Manby joined the company as CEO in 2015 to hel...  ele  SeaWorld
9   There are already plans for a new shark exhibi...  ele  SeaWorld
10  The company’s financial report from 6 August s...  ele  SeaWorld
11  People for the Ethical Treatment of Animals (P...  ele  SeaWorld
12  SeaWorld’s shares, which were worth $39 in 201...  ele  SeaWorld
0   Imagine that you read a headline 'Fit in four ...  ele  Exercise
1   Tabata remembers the first time he tested his ...  ele  Exercise
2   Tabata created his training programme after he...  ele  Exercise
3   The results were very surprising. After six we...  ele  Exercise
4   But you have to work very, very hard. You can’...  ele  Exercise
5   “Full effort at 170% of your VO 2 max is the b...  ele  Exercise
6   One person on an online forum wrote: “Most peo...  ele  Exercise

In [25]:
data.to_csv('dataset.csv', index = False)